.play-container {
    background: hsl(0, 0%, 98%);
    padding: 20px 2% 20px 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Responsiveness */
@media (max-width: 900px) {
    .play-container {
        padding-left: 5%;
        padding-right: 5%;
    }
}